<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find uav_model)/urdf/uav_mid360.xacro'" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_base_link" args="0 0 0 0 0 0 body base_link 100" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uav_model)/gmapping.rviz" required="true" />
</launch>